#!/usr/bin/env bash

alias su2='su -'
alias +='pushd .'
alias ......='cd ../../../../..'
alias .....='cd ../../../..'
alias ....='cd ../../..'
alias ...='cd ../..'
alias ..='cd ..'
alias cls=clear
alias flushdns='dscacheutil -flushcache;sudo killall -HUP mDNSResponder;say flushed'
alias https='http --default-scheme https' #httpie
alias httph='https --print=Hh' #httpie
alias readme='grip -b'
alias rig='grep -ir'
alias ig='grep -i'
alias l="ls -alF"
alias la='ls -alFtrSh'
alias lcl='ls -cl'
alias loc='locate -i'
alias lpin='lsof -l -P -i -n|sort -k 9'
alias lso='lsmod |sort |less -m'
alias lt='ls -altc ${1:-$(pwd)}|less -m'
alias ltc='ls -altc ${1:-$(pwd)}|less -m'
alias ltru='ls -altru'
alias md='mkdir -p'
alias nll='netstat -nl --inet'
alias ns='{ ps auxw|grep netscape|grep -v grep; /usr/local/bin/rnl; };'
alias o='less -m'
alias psor='ps auxw|sort -k 2| /usr/bin/less -m'
alias psva='ps va|sort -r -k 8|o'
alias pipu='pip list -o | cut -d" " -f1 | xargs -n1 pip install -U'
alias rd=rmdir
alias seto='set|less'
alias unzip='unzip -L'
alias which='type -p'
alias x=startx
alias perldoc='perldoc -t'
alias sorto='sort|less -m'
# updick credit: http://news.ycombinator.com/item?id=3237625
alias updick='/usr/bin/uptime | perl -ne "/(\d+) d/;print 8,q(=)x\$1,\"D\n\""'
alias sls='screen -ls'
alias sdr='screen -d -r $1'
alias pget='ps auwxx|grep -i $1'

alias fn?='find . -name'
alias fg='find . -name "*.php" | xargs grep -nHr $1'
alias lin='ssh -2 -p 40026 puzbot@69.164.221.74'

# docker
alias dc='docker compose'
alias dm='docker-machine'
alias dmip='docker-machine ip'
alias drm='docker rm $(docker ps -qa)'
alias drmi='docker rmi -f $(docker images -qa --filter dangling=true)'
alias drrmit='docker run -it --rm'
alias docker-clean-volumes='docker volume rm $(docker volume ls -qf dangling=true)'
function dmeval {
    eval "`docker-machine env \$1`"
}
alias dockviz="docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock nate/dockviz"
function delnone { docker rmi $(docker images | grep none | awk '{print $3}') ;}
alias gitsome="drrmit -v "$(pwd)":/src \
    -v ${HOME}/.gitsomeconfig:/home/anon/.gitsomeconfig \
    -v ${HOME}/.gitsomeconfig.local:/home/anon/.gitsomeconfig.local \
    -v ${HOME}/.gitconfig:/home/anon/.gitconfig \
    -v ${HOME}/.gitconfig.local:/home/anon/.gitconfig.local \
    jess/gitsome"

# homebrewin
alias git=hub
alias bl='brew ls'
alias blp='brew ls --pinned'

# once MacVim is installed, use this for tmux/vim integration
#alias vim='mvim -v'
alias tmx="TERM=screen-256color-bce tmux"

# bash git'n
alias gl='git log --pretty=format:"%h %cr : %s"'
alias glns='git log --pretty=format:"%h %cr : %s" --name-status'
alias tiglog='git reflog --pretty=raw | tig --pretty=raw'

# scratch python repl, depends on docker
alias dip='drrmit jupyter-spark2.1-notebook ipython'

# zootoo
alias zootoodb='ssh -w -p 40026 zoobot@50.56.115.41'
alias zooweb='ssh -2 -p 40026 zoobot@50.56.112.121'

# functions
# toggle git-prompt
#tgp () {
#    TARGET="$HOME/bin/git-prompt.sh"
#    SOURCE="$HOME/repos/git-prompt/git-prompt.sh"
#    if [ -h "$TARGET" ]; then
#        rm "$TARGET" && $(which bash) 
#    else
#        ln -s $SOURCE $TARGET && . $TARGET
#    fi
#}
#
#ll () {
#  if [ -f "$1" ]; then
#    less "$1"
#  else
#    l "$1"
#  fi
#}
#
#lr () {
#     if [ -d "$1" ]; then
#      ls -alR "$1"
#     elif [ ! "$1" ]; then
#      ls -alR .
#     else
#      find -iname "$1" -ls
#     fi
#}
#
#lo () {
#	ls -alF ${1-$(pwd)}| less
#}
#
#lro () {
#	ls -alR ${1-$(pwd)}| less
#}
#
#lld () {
#	ls -al ${1-$(pwd)} | grep "^d"
#}
#
#lldo () {
#	ls -al ${1-$(pwd)} | grep "^d" | less -m
#}
#
#export -f tgp lr lro lo lld

##EOF
