# cleanup broken virtualenvs due to upgraded brew'd python
function relinkvirtualenv(){
    if [ -z "${1}" ]; then
        echo "ERROR: No virtualenv specified"
        return 1;
    fi;

    if [ -z "${2}" ]; then
        echo "ERROR: No version of python specified"
        return 1;
    fi;
    deactivate
    find ~/.virtualenvs/${1} -type l -delete
    mkvirtualenv -p python${2} ${1}
}

# docker fun
# remove all containers of a given image
function docker_remove_containers_for_image(){
    if [ -z "${1}" ]; then
        echo "ERROR: No image specified"
        return 1;
    fi;
    IMAGE=$1
    #docker rm $(docker ps -a | awk '$2 =="$IMAGE" {print $1}')
    for arg in $(docker ps -a | awk '$2 =="$IMAGE" {print $1}')
    do
        echo "$arg"
    done
}

# find files by extension
function fng(){
    find . -name "*.${1}" -exec echo {} \;
}
